##
# (c) 2021 - Cloud Ops Works LLC - https://cloudops.works/
#            On GitHub: https://github.com/cloudopsworks
#            Distributed Under Apache v2.0 License
#
draft.toml
charts/
NOTICE
LICENSE
README.md
jenkins-x*.*
skaffold.*
tronador/
.tronador
